---
const description = "404";
import '../styles/global.css';
import '../styles/404.css';
---
<layout>
    <div class="lost">
        <div class="gif">
            <img src="/images/chip.webp" role="presentation" width="300" height="259" decoding="async">
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">Nothing to see here.</p>
        <p>
            <a class="lost__link" href="/">Return Home</a>
        </p>
    </div>
</layout>

