---
import Layout from "../layouts/Layout.astro";
import Works from "./works.astro";
const pageTitle = "Milky-Way";
---

<Layout pageTitle={pageTitle}>
	<h1>Milky-Way</h1>
	<!-- <span class="badge">Digital Craftsman (Developer)</span> -->
	<p>
		Praesent malesuada mi nisi, quis tempus magna venenatis ut. Suspendisse
		tempor sem at scelerisque congue. Curabitur mollis, mi id molestie
		finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
		Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum,
		fermentum lacus at, pellentesque mauris. Suspendisse eros neque,
		interdum euismod consectetur convallis, porttitor at massa. Phasellus a
		ultrices arcu. Donec viverra, lorem in pellentesque euismod, libero
		justo gravida nibh, non ultricies justo purus ultrices est.
	</p>
	<h2>Skills</h2>
	<div class="skills center">
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Python"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Golang"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original-wordmark.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="JavaScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="TypeScript"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Docker"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Linux"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Kubernetes"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/kubernetes/kubernetes-original.svg"
		/>
		<img
			class="skills__img"
			width="46"
			height="46"
			alt="Git"
			src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
		/>
	</div>
	</p>
	<Works />
</Layout>
