---
import "../styles/blog.css";

interface Props {
	title: string;
	date: string;
	description: string;
	url: string;
}

const { title, date, description, url } = Astro.props;
---

<li class="card blogCard">
	<div>
		<div class="card__content" style="text-align: left;">
			<div class="blogCardTitle">
				<a href={url} class="hyperlink" style="cursor: pointer;">
					<h3 class="card__title" style="margin-bottom: -0.4rem;">
						{title}
					</h3>
				</a>
			</div>
			<div class="badges">
				<span class="badge">{date}</span>
			</div>
			<p class="card__txt" set:html={description} />
		</div>
	</div>
</li>
