---
interface Props {
	title: string;
	date: string;
	description: string;
	url: string;
}

const { title, date, description, url } = Astro.props;
---

<li class="card" style="background-color: #26425da8; border-radius: 5px;">
	<a href={url} style="all: unset; cursor: pointer;">
		<div>
			<div class="card__content" style="text-align: left;">
				<div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline;">
					<h3 class="card__title hyperlink" style="margin-bottom: -0.6rem;">
						{title}
					</h3>
				</div>
				<div style="display: flex; flex-direction: row; gap: 0.25rem;">
					<span class="badge">{date}</span>
				</div>
				<p class="card__txt" set:html={description} />
			</div>
		</div>
	</a>
</li>
