<ul class="buttonWithLinks">
	<li class="icon__btn">
		<a class="icon__link" href="https://github.com/iconsumeplutonium" target="_blank">
			<span class="git-icon">GitHub</span>
		</a>
	</li>
	<li class="icon__btn">
		<a class="icon__link" href="mailto:urizwan@ucsc.edu">
			<span class="mail-icon">Email</span>
		</a>
	</li>
	<li class="icon__btn">
		<a class="icon__link" href="https://www.linkedin.com/in/umair-rizwan/" target="_blank">
			<span class="linked-in">LinkedIn</span>
		</a>
	</li>
</ul>
