<ul class="buttonWithLinks">
	<li class="icon__btn">
		<a class="icon__link" href="https://github.com/iconsumeplutonium" target="_blank">
			<span class="git-icon">GitHub</span>
		</a>
	</li>
	<li class="icon__btn">
		<a class="icon__link" id="emailButton">
			<span class="mail-icon">Email</span>
		</a>
	</li>
	<li class="icon__btn">
		<a class="icon__link" href="https://www.linkedin.com/in/umair-rizwan/" target="_blank">
			<span class="linked-in">LinkedIn</span>
		</a>
	</li>

	
	<script>
		document.getElementById("emailButton")?.addEventListener("click", () => {
			const email = 'dXJpendhbkB1Y3NjLmVkdQ==';
			navigator.clipboard.writeText(atob(email))
				.then(() => {
					alert("Email copied to clipboard!");
				})
				.catch((err) => {
					console.error("Failed to copy email: ", err);
				});
		});
	</script>

</ul>
