---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="favicon.png?" />

		<title>Umair Rizwan</title>
		<meta name="description" content="My personal website" />
		<meta name="title" content="Umair Rizwan">
		<link rel="canonical" href="https://www.umairrizwan.com/" />

		<meta property="og:title" content="Umair Rizwan" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="My personal website" />
		<meta property="og:url" content="https://www.umairrizwan.com" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="Umair Rizwan" />
		<meta name="twitter:description" content="My personal website" />
		<meta name="twitter:image" content="favicon.png" />



        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" as="style">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Pacifico&display=swap" rel="stylesheet">       
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
	</head>
	<body>
        <Header />
        <main>
            <slot />
            <!-- <Footer /> -->
        </main>
	</body>
</html>

